{{> layouts/header }}
<h1> 게시판 글 수정 </h1>

{{#editEntity}}
<form action="/articles/update" method="post">
    <input type="hidden" value="{{id}}" name="id">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">제목</label>
        <input value="{{title}}" type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="제목입력">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea name="contents" class="form-control" id="exampleFormControlTextarea1" rows="3">{{contents}}</textarea>
    </div>
    <input type="submit" value="확인"><input type="reset" value="취소">
</form>
{{/editEntity}}

{{> layouts/footer }})