{{> layouts/header }}
<h1> 상세 글 보기 </h1>

{{#showEntity}}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">제목</label>
        <input readonly value="{{title}}" type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="제목입력">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea name="contents" class="form-control" id="exampleFormControlTextarea1" rows="3">{{contents}}</textarea>
    </div>


<h1> <a href="/articles/{{id}}/edit"> 수정 </a>
     <a href="/articles/{{id}}/delete"> 삭제 </a>
     <a href="/articles/{{id}}"> 목록 </a>  </h1>
{{/showEntity}}

{{> layouts/footer }}